body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
    
  }

  .login-container {
    width: 337px;
    height: 380px;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input {
    width: 95%;
    padding: 5px;
    color:solid black;
    border: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    outline: 0;
  }

  input:focus,
  input:valid{
    border-bottom: 1px solid black;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
  }

  button:hover {
   background: #c9302c;
  }
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
  }

  .forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }

  .small-image {
    width: 150px; /* Ajusta el tamaño deseado */
    height: auto; /* Mantiene la proporción */
    display: block;
    margin: 0 auto; /* Centrar si es necesario */
}

.page-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.password-wrapper {
  position: relative;
}

.toggle-button {
  display: inline-flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 12px;
  cursor: pointer;
}

.eye-icon {
  width: 20px;
  height: 20px;
}

